body {
  background-image: url("Background.jpg");
}

h1 {
  font-family: Garamond;
  background-color: white;
  padding-top: 100px;
  width: 100%;}

p {
  font-family: "Century Gothic";
  color: white;
  line-height: 1.3em;
  text-align: center;
  width: 100%;}

