body {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(4,0,47,1) 90%);
}

h1 {
  font-family: "Courier New", monospace;
  color: white;
  padding-top: 100px;
  width: 100%;}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

p {
  font-family: "Lucida Console", monospace;
  color: white;
  line-height: 1.3em;
  text-align: center;
  width: 100%;}

