body {background: linear-gradient(-45deg, #35577D, #141E30); margin: 0; padding: 0;}

h1 {font-family: Garamond;}

p {font-family: Didot;}

.content {
  padding: 40px;
}

.image {
  background-image: url("https://content.codecademy.com/courses/web-101/unit-4/htmlcss1-img_soccer.jpeg");
  background-size: cover;
  background-position: center;
  height: 300px;
}
